USE [MUGrading]
GO
/****** Object:  StoredProcedure [dbo].[sp_grdGetListSubjectRegistration_En]    Script Date: 19/01/2567 12:22:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<anussara.wan>
-- Create date: <2023-09-05>
-- Description:	<Description,,>
-- =============================================
-- MUGrading..[sp_grdGetListSubjectRegistration_En] '5901291','601'
-- MUGrading..[sp_grdGetListSubjectRegistration_En] '5901291','611'

ALTER PROCEDURE [dbo].[sp_grdGetListSubjectRegistration_En]
	@studentCode varchar(7),
	@quarter varchar(3)
AS
BEGIN
	    --SELECT G.*, CASE WHEN DS.SubjectCode IS NULL THEN S.SubjectCode ELSE DS.SubjectCode END AS SSubject, 
     --   CASE WHEN S.SubjectTName IS NULL THEN S.SubjectName ELSE S.SubjectTName END AS SubjectTName, GS.Semester AS Sem, LeaveSts 
     --   ,case when S.SubjectTCode IS null then S.SubjectCode else S.SubjectTCode end AS SubjectTCode
		SELECT	acs.codeEn [CourseNumber]
				,(	  SELECT top 1 bb.[nameEn] 
					  FROM [Infinity].[dbo].[acaProgramStructure] aa
					  left join [Infinity].[dbo].[acaSubjectType] bb
						on aa.subjectType = bb.[code]
					  where aa.programId = std.programId and aa.subjectId = acs.id and aa.cancelStatus is null
					  order by acaYear desc 
				 ) [TypeCode]
				, isnull(acs.nameTh,acs.nameEn) [CourseTitle]
				, acs.nameTh [CourseTitleTh]
				, acs.nameEn [CourseTitleEn]
				, acs.credit [CourseCreditValue]
				, G.Credit [CourseCreditEarned]
				, grp.point [CourseAcademicGrade]
				, G.Grade [CourseAcademicGradeText]
				, G.Credit * grp.point [CoursePointEarned]
				, NULL [EducationTypeSystem]
				, RIGHT(G.Semester, 1) [SemesterName]
				, 2500 + CAST(LEFT(G.Semester, 2) AS INT) [Year]
				--, NULL [CourseTransferCode]
				----, NULL [OrganizationID]
				--, NULL [OrganizationName]
				----, NULL [ProgramID]
				--, NULL [ProgramName]
				----,std.programId
        FROM MUGrading..Grade_New G 
        LEFT JOIN Infinity..acaSubject_DS DS 
			ON G.SubjectCode =DS.SubjectCode AND G.Semester =DS.Semester 
  --      LEFT JOIN MUCurriculum..CSubject S 
		--ON G.SubjectCode = S.SubjectCode
		LEFT JOIN infinity..acaSubject acs
			on G.SubjectCode = acs.codeEn
        RIGHT JOIN MUGrading..GPAStatus GS 
			ON G.StudentID =GS.StudentID AND G.Semester =GS.Semester
		left join  infinity..vw_refStdStudent std
			on G.studentId = std.studentCode
		left join [Infinity].[dbo].[grdGradePoint] grp
			on G.Grade = grp.[grade]
        WHERE (RegStatus <> 'D' OR G.StudentID IS NULL) AND GS.StudentID = @studentCode
		and G.Semester=@quarter
        --ORDER by 1,3
		ORDER by G.SubjectCode
END
