USE [MUGrading]
GO
/****** Object:  StoredProcedure [dbo].[sp_grdGetRegistrar]    Script Date: 19/01/2567 12:57:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_grdGetRegistrar]
@studentCode NVARCHAR (7)=null
AS
BEGIN
    SELECT a.id AS ID,
           a.enFullName AS FullName,
           a.fullName AS Name,
           b.enPosition AS RPosition,
           b.thPosition AS Title,
           a.degreeId AS DLevel,
           a.active AS Active
    FROM   Infinity..grdRegistrar AS a
           LEFT OUTER JOIN
           Infinity..grdRegistrarType AS b
           ON a.registrarId = b.id
    WHERE  active = 1;
END

