USE [MUGrading]
GO
/****** Object:  StoredProcedure [dbo].[sp_grdGetFooter]    Script Date: 19/01/2567 12:18:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<anussara.wan>
-- Create date: <2023-03-14>
-- Description:	<query sp_grdGetFooter  Digital Transcript>
-- =============================================
---- 6118034 5918041  5722082 PI 5913374 EG
---- sp_grdGetFooter '6170031' 
ALTER PROCEDURE [dbo].[sp_grdGetFooter]
	@studentCode varchar(7)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT  
	   CASE WHEN F.FacultyCode='BM' then left(F.nameTh,25) end AS BMTName
      ,CASE WHEN F.FacultyCode='BM' then right(F.nameTh,25) end AS BMTName2
	  ,convert(varchar(2),day(S.BirthDate))+' '+
	   CASE    
			WHEN month(S.birthDate)='1' THEN 'มกราคม'    
			WHEN month(S.birthDate)='2' THEN 'กุมภาพันธ์'   
			WHEN month(S.birthDate)='3' THEN 'มีนาคม'
			WHEN month(S.birthDate)='4' THEN 'เมษายน'
			WHEN month(S.birthDate)='5' THEN 'พฤษภาคม'
			WHEN month(S.birthDate)='6' THEN 'มิถุนายน'
			WHEN month(S.birthDate)='7' THEN 'กรกฎาคม'
			WHEN month(S.birthDate)='8' THEN 'สิงหาคม'
			WHEN month(S.birthDate)='9' THEN 'กันยายน'
			WHEN month(S.birthDate)='10' THEN 'ตุลาคม'
			WHEN month(S.birthDate)='11' THEN 'พฤศจิกายน'
			WHEN month(S.birthDate)='12' THEN 'ธันวาคม'
		END + ' '+ convert(varchar(4),(year(S.BirthDate) +'543')) AS BThaiDate
	   
	  ,S.perTitlePrefixId As TitleCode
      ,ISNULL(S.enFirstName,'') As FirstName
	  ,CASE WHEN ISNULL(S.enMiddleName,'')='' THEN ISNULL(S.enLastName,'') ELSE S.enMiddleName +' '+ ISNULL(S.enLastName,'') END As LastName
      ,ISNULL(S.firstName,'') As ThaiFName
      ,ISNULL(S.lastName,'') As ThaiLName
	  ,S.enGenderInitials As Gender
      ,S.BirthDate
	  ,S.facultyCode
      ,S.ProgramCode
      ,S.MajorCode
      ,S.GroupNum
      ,S.ProgramYear
      --,S.ProgramStatus
	  ,S.progLevel As Degree
      --,S.RaceCode
	  ,ISNULL(S.nationISO3,'THA') As NationalityCode
      ,S.AdmissionDate
      --,S.SchoolCode
      --,S.PinCode
      ,CASE WHEN len(ISNULL(S.idcard,'0')) = 13 THEN substring(S.idcard,1,1)+'-'+substring(S.idcard,2,4)+'-'+substring(S.idcard,6,5)+'-'+substring(S.idcard,11,2)+'-'+substring(S.idcard,13,1) ELSE CASE WHEN len(ISNULL(S.idcard,'0')) = 1 THEN '0-0000-00000-00-0' ELSE S.idCard END END As idCard
      --,S.Photo
      --,S.Barcode
      --,S.EntType
      --,S.ScholarShipCode
      --,S.SchoolGPA
      ,S.Distinction
      --,S.FlagApprove
      --,S.FlagParentStatus
	  ,S.graduateYear As GradYear
      ,S.QuotaCode
      --,S.TransferIntDate
      --,S.TempStudentID
      --,S.StudentOffice
      ,S.Email
      --,S.tranSystem
	  ,CONVERT(VARCHAR(10), S.BirthDate,103) AS BDate
	  ,ISNULL(S.nationNameEn,'-') As NationalityEname
	  ,ISNULL(S.nationNameTh,'-') As NationalityTname
	  ,S.enTitleInitials As TitleEName
		--CASE WHEN LEFT(S.ProgramCode,2)='BM' and LEFT(S.StudentID,2) < '51' THEN 'FACULTY OF VAJIRA HOSPITAL, UNIVERSITY OF BANGKOK METROPOLIS' ELSE FactEName END As FactEName,
	  ,CASE WHEN S.FacultyCode='PI' and S.ProgramCode+S.MajorCode+S.GroupNum ='PIMDB-3' and (LEFT(S.studentCode,2)>'54' or  S.graduateYear >'2559') THEN 'FACULTY OF MEDICINE SIRIRAJ HOSPITAL (COLLABORATION WITH MINISTRY OF PUBLIC HEALTH)' 
		     WHEN S.FacultyCode='PI' and S.ProgramCode+S.MajorCode+S.GroupNum in ('PIMDB-1','PIMDB-2','PIMDB-4') and  (LEFT(S.studentCode,2)>'54' or  S.graduateYear >'2559') THEN 'FACULTY OF MEDICINE RAMATHIBODI HOSPITAL (COLLABORATION WITH MINISTRY OF PUBLIC HEALTH)'
		ELSE S.facNameEn End As FactEName
	   ,CASE WHEN S.FacultyCode='PI' and S.ProgramCode+S.MajorCode+S.GroupNum ='PIMDB-3' and (LEFT(S.studentCode,2)>'54' or  S.graduateYear >'2559') THEN 'FACULTY OF MEDICINE SIRIRAJ HOSPITAL' 
		     WHEN S.FacultyCode='PI' and S.ProgramCode+S.MajorCode+S.GroupNum in ('PIMDB-1','PIMDB-2','PIMDB-4') and  (LEFT(S.studentCode,2)>'54' or  S.graduateYear >'2559') THEN 'FACULTY OF MEDICINE RAMATHIBODI HOSPITAL'
		ELSE S.facNameEn End As FactEName1
	   ,S.progNameEn
	   ,S.progNameTh
	   ,S.progDegreeNameEn As DegreeEName

	   --,CASE WHEN S.majorNameTranscriptEn IS NULL THEN S.MajorNameEN ELSE S.majorNameTranscriptEn END  As MajorEName
	   ,S.MajorNameEN  As MajorEName
	   ,CONVERT(VARCHAR(10),S.graduateDate ,103) AS GDate

	   --,CASE WHEN S.graduateDate IS NULL THEN NULL ELSE convert(varchar(2),day(S.graduateDate))    +' '+ FORMAT(S.graduateDate, 'MMMM', 'th-TH') +' '+  convert(varchar(4),year(S.graduateDate)+543)  END
		 --As graduateDateTh
		 ,convert(varchar(2),day(S.graduateDate))+' '+
	   CASE    
			WHEN month(S.graduateDate)='1' THEN 'มกราคม'    
			WHEN month(S.graduateDate)='2' THEN 'กุมภาพันธ์'   
			WHEN month(S.graduateDate)='3' THEN 'มีนาคม'
			WHEN month(S.graduateDate)='4' THEN 'เมษายน'
			WHEN month(S.graduateDate)='5' THEN 'พฤษภาคม'
			WHEN month(S.graduateDate)='6' THEN 'มิถุนายน'
			WHEN month(S.graduateDate)='7' THEN 'กรกฎาคม'
			WHEN month(S.graduateDate)='8' THEN 'สิงหาคม'
			WHEN month(S.graduateDate)='9' THEN 'กันยายน'
			WHEN month(S.graduateDate)='10' THEN 'ตุลาคม'
			WHEN month(S.graduateDate)='11' THEN 'พฤศจิกายน'
			WHEN month(S.graduateDate)='12' THEN 'ธันวาคม'
		END + ' '+ convert(varchar(4),(year(S.graduateDate) +'543')) AS graduateDateTh
	   ,S.thTitleFullName As TitleTName
		--CASE WHEN LEFT(S.ProgramCode,2)='BM' and LEFT(S.StudentID,2) < '51' THEN '??????????????????????? ????????????????????????' ELSE FactTName END AS FactTName,
		--FactTName,
		,CASE WHEN S.FacultyCode='PI' and S.ProgramCode+S.MajorCode+S.GroupNum ='PIMDB-3' and (LEFT(S.studentCode,2)>'54' or  S.graduateYear >'2559') THEN 'คณะแพทยศาสตร์ศิริราชพยาบาล (ร่วมผลิตกระทรวงสาธารณสุข)' 
		     WHEN S.FacultyCode='PI' and S.ProgramCode+S.MajorCode+S.GroupNum in ('PIMDB-1','PIMDB-2','PIMDB-4') and  (LEFT(S.studentCode,2)>'54' or  S.graduateYear >'2559') THEN 'คณะแพทยศาสตร์โรงพยาบาลรามาธิบดี (ร่วมผลิตกระทรวงสาธารณสุข)'
		ELSE S.facNameTh End As FactTName
		,S.progDegreeNameTh As DegreeTName
		--,CASE WHEN S.majorNameTranscriptTh IS NULL THEN S.MajorNameTH ELSE S.majorNameTranscriptTh END As MajorTName
	    ,S.MajorNameTH As MajorTName
		,A.oldId As StudentStatus
		,S.class As CurrentYear
		,S.graduateYear As GradYear
		--,Convert(int,StudyYear)+ CASE WHEN Convert(int,StudyMonth) > 0 THEN 1 ELSE 0 END AS ProgYear
		,ISNULL(S.studyYear,'0') As  ProgYear
		,ISNULL(S.ProgramType,'0') As ProgramType
		--,Convert(int,P.StudyYear) -Convert(int,P.YearBegin)+1 AS LastYear ,
		,ISNULL(S.studyYear,'0') As LastYear
		,CASE    
			WHEN month(S.admissionDate)='1' THEN 'JANUARY'    
			WHEN month(S.admissionDate)='2' THEN 'FEBRUARY'   
			WHEN month(S.admissionDate)='3' THEN 'MARCH'
			WHEN month(S.admissionDate)='4' THEN 'APRIL'
			WHEN month(S.admissionDate)='5' THEN 'MAY'
			WHEN month(S.admissionDate)='6' THEN 'JUNE'
			WHEN month(S.admissionDate)='7' THEN 'JULY'
			WHEN month(S.admissionDate)='8' THEN 'AUGUST'
			WHEN month(S.admissionDate)='9' THEN 'SEPTEMBER'
			WHEN month(S.admissionDate)='10' THEN 'OCTOBER'
			WHEN month(S.admissionDate)='11' THEN 'NOVEMBER'
			WHEN month(S.admissionDate)='12' THEN 'DECEMBER'
		END +' '+ convert(varchar(2),day(S.admissionDate))+','+ convert(varchar(4),year(S.admissionDate))
		AS AdmissionDate 
		,CASE    
			WHEN month(S.admissionDate)='1' THEN 'JANUARY'    
			WHEN month(S.admissionDate)='2' THEN 'FEBRUARY'   
			WHEN month(S.admissionDate)='3' THEN 'MARCH'
			WHEN month(S.admissionDate)='4' THEN 'APRIL'
			WHEN month(S.admissionDate)='5' THEN 'MAY'
			WHEN month(S.admissionDate)='6' THEN 'JUNE'
			WHEN month(S.admissionDate)='7' THEN 'JULY'
			WHEN month(S.admissionDate)='8' THEN 'AUGUST'
			WHEN month(S.admissionDate)='9' THEN 'SEPTEMBER'
			WHEN month(S.admissionDate)='10' THEN 'OCTOBER'
			WHEN month(S.admissionDate)='11' THEN 'NOVEMBER'
			WHEN month(S.admissionDate)='12' THEN 'DECEMBER'
		END +' '+ convert(varchar(2),day(S.admissionDate))+','+ convert(varchar(4),year(S.admissionDate))
		AS admissionDateEn
	  --  ,UPPER(FORMAT(S.admissionDate, 'MMMM', 'en-US')) +' '+ convert(varchar(2),day(S.admissionDate))+','+ convert(varchar(4),year(S.admissionDate)) 
		 --As admissionDateEn
	   ,convert(varchar(2),day(S.admissionDate))+' '+
	   CASE    
			WHEN month(S.admissionDate)='1' THEN 'มกราคม'    
			WHEN month(S.admissionDate)='2' THEN 'กุมภาพันธ์'   
			WHEN month(S.admissionDate)='3' THEN 'มีนาคม'
			WHEN month(S.admissionDate)='4' THEN 'เมษายน'
			WHEN month(S.admissionDate)='5' THEN 'พฤษภาคม'
			WHEN month(S.admissionDate)='6' THEN 'มิถุนายน'
			WHEN month(S.admissionDate)='7' THEN 'กรกฎาคม'
			WHEN month(S.admissionDate)='8' THEN 'สิงหาคม'
			WHEN month(S.admissionDate)='9' THEN 'กันยายน'
			WHEN month(S.admissionDate)='10' THEN 'ตุลาคม'
			WHEN month(S.admissionDate)='11' THEN 'พฤศจิกายน'
			WHEN month(S.admissionDate)='12' THEN 'ธันวาคม'
		END + ' '+ convert(varchar(4),(year(S.admissionDate) +'543')) AS admissionDateTh
	  --  , convert(varchar(2),day(S.admissionDate)) +' '+ FORMAT(S.admissionDate, 'MMMM', 'th-TH') +' '+ convert(varchar(4),year(S.admissionDate)+543)
		 --As admissionDateTh
		,ISNULL(R.passedEnglishExam,'') As passedEnglishExam
		,CASE WHEN R.passedEnglishExam IS NOT NULL THEN 'THIS STUDENT PASSED THE STANDARD ENGLISH PROFICIENCY TEST AS REQUIRED BY MAHIDOL UNIVERSITY'  
		      ELSE '' END As txtStudentPassedEn
		,CASE WHEN R.passedEnglishExam IS NOT NULL THEN 'นักศึกษาสอบผ่านเกณฑ์ตามมาตรฐานความรู้ภาษาอังกฤษ ตามที่มหาวิทยาลัยมหิดลกำหนด' 
		      ELSE '' END As txtStudentPassedTh
		,S.studentCode As StudentCode
		,S.thGenderFullName As SexNameTh
		,S.enGenderFullName As SexNameEn
		,case when G.PHour IS null then '' else  'ชั่วโมงฝึกงาน 3 รายวิชา จำนวน '+convert(varchar,G.PHour)+' ชั่วโมง(ต้องไม่น้อยกว่า 500 ชั่วโมง)' end AS PraticeHrsTh
		,CASE WHEN S.programType ='2' THEN '(INTERNATIONAL PROGRAMME)'  ELSE NULL END As interProgram
		,CASE WHEN S.programType ='2' THEN '(หลักสูตรนานาชาติ)'  ELSE NULL END As interProgramTh

	FROM [Infinity].[dbo].[vw_refStdStudent] S with(nolock)
	LEFT JOIN Infinity..stdStatusType A with(nolock)
	On S.stdStatus = A.id
	LEFT JOIN [Infinity].[dbo].[vw_refEenPassedTheEnglishExam] R with(nolock)
	On S.studentId = R.studentId
	LEFT JOIN Infinity..acaFaculty F with(nolock)
	On S.facultyId = F.id
	LEFT JOIN MUGrading..PracticeHour G with(nolock)
	On S.studentCode = G.StudentID
	WHERE s.studentCode = @studentCode
END
