USE [MUGrading]
GO
/****** Object:  StoredProcedure [dbo].[sp_grdAdditionalInformation_Th]    Script Date: 19/01/2567 12:20:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<anussara.wan>
-- Create date: <2023-05-15>
-- Description:	<Description,,>
-- =============================================
-- [sp_grdAdditionalInformation_Th] '5918036'
-- [sp_grdAdditionalInformation] '5801023'
-- [sp_grdAdditionalInformation] '5703143'
-- [sp_grdAdditionalInformation] '5901291' 
-- [sp_grdAdditionalInformation] '6001027' 

ALTER PROCEDURE [dbo].[sp_grdAdditionalInformation_Th]
	@studentCode varchar(7)
AS
BEGIN
		SELECT  
                  case when F.FacultyCode='BM' then left(F.nameTh,25) end AS BMTName
                 ,case when F.FacultyCode='BM' then right(F.nameTh,25) end AS BMTName2
				 ,F.FacultyCode
				 ,SS.nationNameTh As NationalityTname
				 ,SS.stdStatus As StudentStatus
				 ,SS.progDegreeNameTh As DegreeTName
				 ,SS.studentCode As studentCode
                 ,BS.NameTh As [Description]
        into #tmpData            
		FROM [Infinity].[dbo].[vw_refStdStudent] SS with(nolock)
		LEFT JOIN Infinity..stdStatusType BS with(nolock)
		On SS.stdStatus = BS.id
		LEFT JOIN Infinity..acaFaculty F with(nolock)
		On SS.facultyId = F.id
		WHERE SS.studentCode = @studentCode


		SELECT a.*,c.nameCretificate,c.nameAbbreviation
		into #tempInformationNote
		FROM [Infinity].[dbo].[eenTransEnglishScore] a
		left join Infinity..stdStudent b
		on a.studentId = b.id
		left join Infinity..eenCertificateType c
		on a.certificateTypeId = c.id
		where showPassed = 'Y' and a.cancelDate is null and b.studentCode = @studentCode



		select  studentCode 
		      --, StudentStatus
			  , case when StudentStatus = '101' then '** เกียรตินิยมอันดับ 1 **' 
			         when StudentStatus = '102' then '** เกียรตินิยมอันดับ 2 **' 
			         else '-' end as [Hons]
			  --, case when StudentStatus = '11' then '** ????????????????? 1 **' 
			  --       when StudentStatus = '12' then '** ????????????????? 2 **' 
			  --       else '-' end as [HonsTh]
			  --, null [ThesisTitle]
			  --, isnull(hoursTraining,0) as hoursTraining
			 -- , () as EnglishProficiency
		from #tmpData

		select 'EnglishProficiency '+ isnull(nameCretificate,'') as 'Subject'
		       ,cast(totalScore as varchar) as 'Content'
		     --*
		from #tempInformationNote
		union 
		select 'WorkHours 'as 'Subject'
			   ,cast(PHour as varchar) as 'Content'
		from [MUGrading].[dbo].[PracticeHour]
		where StudentID = @studentCode
		union 
		select 'EnglishProficiency' as 'Subject' , 'Y' as 'Content'
		from [Infinity].[dbo].[vw_refEenPassedTheEnglishExam]
		where studentCode = @studentCode

END
