USE [MUGrading]
GO
/****** Object:  StoredProcedure [dbo].[sp_grdProfileStudent_En]    Script Date: 19/01/2567 13:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<anussara.wan>
-- Create date: <2023-05-12>
-- Description:	<Description,,>
-- =============================================
-- MUGrading..sp_grdProfileStudent_En '6008153'
-- Select * From TransferCredit where StudentID = @studentCode

ALTER PROCEDURE [dbo].[sp_grdProfileStudent_En]
	@studentCode varchar(7)
AS
BEGIN
	 SELECT		  std.studentCode [DataSubjectIDStudentID]
				, case when len(per.idCard) = 13 then per.idCard end [DataSubjectIDNIDN]
				, case when len(per.idCard) <> 13 then per.idCard end [DataSubjectIDCCPT]
				, std.thTitleFullName [NamePrefixTh]
				, std.enTitleFullName [NamePrefixEn]
				, isnull(std.firstName,std.enFirstName) [GivenName]
				, std.firstName [GivenNameTh]
				, std.enFirstName [GivenNameEn]
				, std.middleName [MiddleNameTh]
				, std.enmiddleName [MiddleNameEn]
				, std.lastName [FamilyNameTh]
				, std.enlastName [FamilyNameEn]
				, case when std.enGenderInitials = 'M' then '1' 
					   when std.enGenderInitials = 'F' then '2' 
					   else '3' end [Gender]
				, std.BirthDate
				, std.nationISO2 [Nationality]
				, ISNULL(std.countryISO2Current, 'TH') [ResidentCountryOrTerritoryCode]
				, 'http://intranet.student.mahidol/studentweb/resources/images/' + isnull(std.pictureName,'') [PersonImage]
				, std.admissionDate [DateOfAdmission]
				, std.facNameEn [FacultyName]
				, ISNULL(apg.MUA_CURR_ID, std.programId) [ProgramID]
				--, apg.id [ProgramID]
				, isnull(apg.nameEn,apg.nameTh) [ProgramName]
				, isnull(acm.nameEn,'-') [Major]
				, isnull(NULL,'-') [Minor]
				--, lev.LEV_ID [DegreeId]
				, lev.[LEV_NAME_TH] [Degree]
				, std.graduateDate [DateOfGraduation]
				, (select credit From MUGrading..TransferCredit where StudentID = @studentCode) [CreditsTranferred]

				, case when std.facultyId = 'KA-01' then '00601' else '00600' end [OrganizationID]
				, case when std.facultyId = 'KA-01' then 'มหาวิทยาลัยมหิดล กาญจนบุรี' else 'มหาวิทยาลัยมหิดล' end [OrganizationName]
				, std.stdStatus
				, std.stsNameTh
				, std.stsNameEn
				, std.stsGroup
				--????????????????????????
				, std.noCurrent [BuildingNumber]
				, std.villageCurrent [BuildingName]
				, std.soiCurrent [AdditionalStreetName]
				, std.roadCurrent [StreetName]
				, std.subdistrictCurrentTh [CitySubDivisionName]
				, std.districtCurrentTh [CityName]
				, std.provinceCurrentTh [CountrySubDivisionName]
				--, std.plcSubdistrictIdCurrent [CitySubDivisionID]
				--, std.plcDistrictIdCurrent [CityID]
				, std.plcProvinceIdCurrent [CountrySubDivisionCode]
				, std.plcCountryIdCurrent [CountryCode]
				, std.zipCodeCurrent [PostcodeCode]
				, NULL [SchoolLevel]

				-- ???????? 2 ????? ?????????? ??? ???????????????
				--, std.facNameTh FacultyNameTh
				--, isnull(apg.nameTh,'-') ProgramNameTh
				--,  Cast(Day(std.BirthDate) as varchar(2)) + ' '
				-- + (select monthNameTh from infinity..fnc_reqGetListMonth() where monthValue = Month(std.BirthDate) )  + ' '
				-- + Cast(Year(std.BirthDate)+543 as varchar(4) ) as BirthDateTh
				
				--,  Cast(Day(std.admissionDate) as varchar(2)) + ' '
				-- + (select monthNameTh from infinity..fnc_reqGetListMonth() where monthValue = Month(std.admissionDate) )  + ' '
				-- + Cast(Year(std.admissionDate)+543 as varchar(4) ) as DateOfAdmissionTh

				--,  Cast(Day(std.graduateDate) as varchar(2)) + ' '
				-- + (select monthNameTh from infinity..fnc_reqGetListMonth() where monthValue = Month(std.graduateDate) )  + ' '
				-- + Cast(Year(std.graduateDate)+543 as varchar(4) ) as DateOfGraduationTh

				-- ??????????????????????????

				--, apg.degreeNameTh [Degree]
				-- , acm.nameTh as majorNameTh
	FROM Infinity..vw_refStdStudent std
	LEFT JOIN Infinity..acaProgram apg
		ON std.programId = apg.id
	LEFT JOIN Infinity..acaMajor acm
		ON apg.majorCode = acm.codeEn
	LEFT JOIN  Bermuda..MUA_REF_LEV lev
		ON apg.dLevel = lev.dLevel
	LEFT JOIN Infinity..vw_refPerPerson per
		ON std.personId = per.id
    WHERE std.studentCode = @studentCode


	 -- select top 2* from Infinity..vw_refStdStudent
	-- SELECT		
	--			  std.studentCode [ID]
	--			, std.thTitleFullName [NamePrefix]
	--			, std.firstName [GivenName]
	--			, std.middleName [MiddleName]
	--			, std.lastName [FamilyName]
	--			, case when std.enGenderInitials = 'M' then '1' 
	--				   when std.enGenderInitials = 'F' then '2' 
	--				   else '3' end [Gender]
	--			, std.BirthDate
	--			--, convert(varchar(2),day(std.BirthDate))+' '+case    when month(std.BirthDate)='1' then '??????'    
 --   --                when month(std.BirthDate)='2' then '??????????'   
 --   --                when month(std.BirthDate)='3' then '??????'
 --   --                when month(std.BirthDate)='4' then '??????'
 --   --                when month(std.BirthDate)='5' then '???????'
 --   --                when month(std.BirthDate)='6' then '????????'
 --   --                when month(std.BirthDate)='7' then '???????'
 --   --                when month(std.BirthDate)='8' then '???????'
 --   --                when month(std.BirthDate)='9' then '???????'
 --   --                when month(std.BirthDate)='10' then '??????'
 --   --                when month(std.BirthDate)='11' then '?????????'
 --   --                when month(std.BirthDate)='12' then '???????'
 --   --                end + ' '+ convert(varchar(4),(year(std.BirthDate) +'543')) [BirthDate]
	--			, std.nationISO2 [Nationality]
	--			, std.countryISO2Current [ResidentCountryCode]
	--			, std.admissionDate [DateOfAdmission]
	--			, std.facNameTh [FacultyName]
	--			, apg.id [ProgramID]
	--			, apg.nameTh [ProgramName]
	--			, NULL [Major]
	--			, NULL [Minor]
	--			, apg.degreeNameTh [Degree]
	--			, acm.nameTh as majorNameTh
	--			--, case when ss.[status] in ('10','11','12') then '1'
	-- /*S.StudentID [ID]
	--			, F.FacultyCode
	--			, BN.NationalityTname
	--			, N.MUA_NATION as NationCode2Digit
	--			, convert(varchar(2),day(std.BirthDate))+' '+case    when month(std.BirthDate)='1' then '??????'    
 --                   when month(std.BirthDate)='2' then '??????????'   
 --                   when month(std.BirthDate)='3' then '??????'
 --                   when month(std.BirthDate)='4' then '??????'
 --                   when month(std.BirthDate)='5' then '???????'
 --                   when month(std.BirthDate)='6' then '????????'
 --                   when month(std.BirthDate)='7' then '???????'
 --                   when month(std.BirthDate)='8' then '???????'
 --                   when month(std.BirthDate)='9' then '???????'
 --                   when month(std.BirthDate)='10' then '??????'
 --                   when month(std.BirthDate)='11' then '?????????'
 --                   when month(std.BirthDate)='12' then '???????'
 --                   end + ' '+ convert(varchar(4),(year(std.BirthDate) +'543')) AS BThaiDate
	--			, TitleTName
	--			, TitleEName
	--			, std.middleName
	--			, std.enMiddleName
	--			, S.*
	--			, CONVERT(VARCHAR(10), std.BirthDate,103) AS BDate
	--			, BN.NationalityEname

	--			, FactEName
	--			, DegreeEName
	--			, MajorEName
	--			, CONVERT(VARCHAR(10)
	--			        , std.GraduateDate,103) AS GDate
				
	--			, FactTName
	--			, DegreeTName
	--			, MajorTName
	--			, SS.StudentStatus
	--			, SS.CurrentYear 
 --               , S.GradYear
	--			, Convert(int,std.StudyYear)+ CASE WHEN Convert(int,StudyMonth) > 0 THEN 1 ELSE 0 END AS ProgYear
	--			, std.ProgramType 
 --               , Convert(int,P.StudyYear) -Convert(int,P.YearBegin)+1 AS LastYear 
 --               , case when Gender='M' then '???' else '??????' end Prefix
 --               , case when Gender='M' then '???' else '????' end SexName
 --               , convert(varchar(2),day(SS.GraduateDate))+' '+case    when month(SS.GraduateDate)='1' then '??????'    
	--				when month(SS.GraduateDate)='2' then '??????????'   
	--				when month(SS.GraduateDate)='3' then '??????'
	--				when month(SS.GraduateDate)='4' then '??????'
	--				when month(SS.GraduateDate)='5' then '???????'
	--				when month(SS.GraduateDate)='6' then '????????'
	--				when month(SS.GraduateDate)='7' then '???????'
	--				when month(SS.GraduateDate)='8' then '???????'
	--				when month(SS.GraduateDate)='9' then '???????'
	--				when month(SS.GraduateDate)='10' then '??????'
	--				when month(SS.GraduateDate)='11' then '?????????'
	--				when month(SS.GraduateDate)='12' then '???????'
	--				end + ' '+ convert(varchar(4),(year(SS.GraduateDate) +'543')) AS GraduateDate
	--			, 'http://intranet.student.mahidol/studentweb/resources/images/' + isnull(std.pictureName,'') as picStd
	--		    , apg.MUA_CURR_ID
	--			, apg.nameTh as programNameTh
	--			, apg.nameEn as programNameEn
	----			, case when apg.facultyId = 'KA-01' then '00601' else '00600' end UNIV_ID*/
	----FROM MUStudent..Student S 
	----LEFT JOIN MUStudent..BTitle T 
	----ON S.TitleCode = T.TitleCode 
	----LEFT JOIN MUStudent..BNationality N 
	----ON S.NationalityCode = N.NationalityCode 
	----LEFT JOIN MUCurriculum..CProgram P 
	----ON S.ProgramCode = P.ProgramCode AND S.MajorCode = P.MajorCode AND S.GroupNum = P.GroupNum 
	----LEFT JOIN MUStudent..BMajor M 
	----ON S.Majorcode = M.Majorcode 
	----LEFT JOIN MUStudent..BFaculty F 
	----ON LEFT(P.ProgramCode,2) = F.FacultyCode 
	----LEFT JOIN MUStudent..StudentStatus SS 
	----ON S.StudentID = SS.StudentID 
 ----   LEFT JOIN MUStudent..BNationality BN 
	----ON S.NationalityCode=BN.NationalityCode
	--from Infinity..vw_refStdStudent std
	--LEFT JOIN Infinity..acaProgram apg
	--ON std.programId = apg.id
	--LEFT JOIN Infinity..acaMajor acm
	--ON apg.majorCode = acm.codeEn
 --   where std.studentCode = @studentCode

END
