USE [MUGrading]
GO
/****** Object:  StoredProcedure [dbo].[sp_grdProfileStudent_Th]    Script Date: 19/01/2567 13:49:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<anussara.wan>
-- Create date: <2023-05-12>
-- Description:	<Description,,>
-- =============================================
-- sp_grdProfileStudent_Th '5522009'

ALTER PROCEDURE [dbo].[sp_grdProfileStudent_Th]
	@studentCode varchar(7)
AS
BEGIN
	 SELECT		  std.studentCode [DataSubjectIDStudentID]
				, case when len(per.idCard) = 13 then per.idCard end [DataSubjectIDNIDN]
				, case when len(per.idCard) <> 13 then per.idCard end [DataSubjectIDCCPT]
				, std.thTitleFullName [NamePrefixTh]
				, std.enTitleFullName [NamePrefixEn]
				, isnull(std.firstName,std.enFirstName) [GivenName]
				, std.firstName [GivenNameTh]
				, std.enFirstName [GivenNameEn]
				, std.middleName [MiddleNameTh]
				, std.enmiddleName [MiddleNameEn]
				, std.lastName [FamilyNameTh]
				, std.enlastName [FamilyNameEn]
				, case when std.enGenderInitials = 'M' then '1' 
					   when std.enGenderInitials = 'F' then '2' 
					   else '3' end [Gender]
				, std.BirthDate
				--,  Cast(Day(std.BirthDate) as varchar(2)) + ' '
				-- + (select monthNameTh from infinity..fnc_reqGetListMonth() where monthValue = Month(std.BirthDate) )  + ' '
				-- + Cast(Year(std.BirthDate)+543 as varchar(4) ) as BirthDate
				, std.nationISO2 [Nationality]
				, ISNULL(std.countryISO2Current, 'TH') [ResidentCountryOrTerritoryCode]
				, 'http://intranet.student.mahidol/studentweb/resources/images/' + isnull(std.pictureName,'') [PersonImage]
				--,  Cast(Day(std.admissionDate) as varchar(2)) + ' '				
				, std.admissionDate [DateOfAdmission]
				 --+ (select monthNameTh from infinity..fnc_reqGetListMonth() where monthValue = Month(std.admissionDate) )  + ' '
				 --+ Cast(Year(std.admissionDate)+543 as varchar(4) ) as DateOfAdmission
				, std.facNameTh FacultyName
				, ISNULL(apg.MUA_CURR_ID, std.programId) [ProgramID]
				--, apg.id [ProgramID]
				, isnull(apg.nameTh,'-') ProgramName
				, isnull(acm.nameTh,'-') [Major]
				, isnull(NULL,'-') [Minor]
				--, lev.LEV_ID [DegreeId]
				, lev.[LEV_NAME_TH] [Degree]			
				, std.graduateDate [DateOfGraduation]
				--,  Cast(Day(std.graduateDate) as varchar(2)) + ' '
				-- + (select monthNameTh from infinity..fnc_reqGetListMonth() where monthValue = Month(std.graduateDate) )  + ' '
				-- + Cast(Year(std.graduateDate)+543 as varchar(4) ) as DateOfGraduation
				, (select credit From MUGrading..TransferCredit where StudentID = @studentCode) [CreditsTranferred]

				, case when std.facultyId = 'KA-01' then '00601' else '00600' end [OrganizationID]
				, case when std.facultyId = 'KA-01' then 'มหาวิทยาลัยมหิดล วิทยาเขตกาญจนบุรี' else 'มหาวิทยาลัยมหิดล' end [OrganizationName]
				, std.stdStatus
				, std.stsNameTh
				, std.stsNameEn
				, std.stsGroup
				--????????????????????????
				, std.noCurrent [BuildingNumber]
				, std.villageCurrent [BuildingName]
				, std.soiCurrent [AdditionalStreetName]
				, std.roadCurrent [StreetName]
				, std.subdistrictCurrentTh [CitySubDivisionName]
				, std.districtCurrentTh [CityName]
				, std.provinceCurrentTh [CountrySubDivisionName]
				--, std.plcSubdistrictIdCurrent [CitySubDivisionID]
				--, std.plcDistrictIdCurrent [CityID]
				, std.plcProvinceIdCurrent [CountrySubDivisionCode]
				, std.plcCountryIdCurrent [CountryCode]
				, std.zipCodeCurrent [PostcodeCode]
				, NULL [SchoolLevel]
				--, apg.degreeNameTh [Degree]
				-- , acm.nameTh as majorNameTh
	FROM Infinity..vw_refStdStudent std
	LEFT JOIN Infinity..acaProgram apg
		ON std.programId = apg.id
	LEFT JOIN Infinity..acaMajor acm
		ON apg.majorCode = acm.codeEn
	LEFT JOIN  Bermuda..MUA_REF_LEV lev
		ON apg.dLevel = lev.dLevel
	LEFT JOIN Infinity..vw_refPerPerson per
		ON std.personId = per.id
    WHERE std.studentCode = @studentCode



END
