USE [MUGrading]
GO
/****** Object:  StoredProcedure [dbo].[sp_grdGetSemesterStudent]    Script Date: 19/01/2567 12:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_grdGetSemesterStudent]
@studentCode VARCHAR (7)
AS
BEGIN
    SELECT DISTINCT Semester,
                    'เทอม ' + RIGHT(Semester, 1) + ' ปีการศึกษา 25' + LEFT(Semester, 2) AS SemesterThai
    FROM   MUGrading..Grade_New
    WHERE  StudentId = @studentCode;
END

