USE [MUGrading]
GO
/****** Object:  StoredProcedure [dbo].[sp_grdGetListGPAStatus]    Script Date: 23/01/2567 10:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <2023-05-12>
-- Description:	<Description,,>
-- =============================================
-- sp_grdGetListGPAStatus '5970050'
ALTER PROCEDURE [dbo].[sp_grdGetListGPAStatus] 
	@studentCode varchar(7)
AS
BEGIN
	Declare @creditTranfer varchar(10),@txtEnglishScore varchar(200) =NULL
	Select @txtEnglishScore='THIS STUDENT PASSED THE STANDARD ENGLISH PROFICIENCY |TEST AS REQUIRED BY MAHIDOL UNIVERSITY' From Infinity..vw_refEenPassedTheEnglishExam where studentCode = @studentCode
	Select @creditTranfer = credit From TransferCredit where StudentID = @studentCode
	;with cte (StudentID,Sem,CurrentYear,ProgramCode,MajorCode,GroupNum,SubjectCount,SCreditRegis,SCreditEarn,SCreditCompute,SProduct,SGPA,CCreditRegis,CCreditEarn,CCreditCompute,CProduct,CGPA,StudentStatus,LeaveSts,Semester,YearQ,Sem1,creditTranfer,txtEnglishScore) as (
    Select 
	  a.StudentID
      ,'000' As Sem
      ,NULL As CurrentYear
      ,d.ProgramCode
      ,d.MajorCode
      ,d.GroupNum
      ,NULL As SubjectCount
      ,NULL As SCreditRegis
      ,NULL As SCreditEarn
      ,NULL As SCreditCompute
      ,NULL As SProduct
      ,NULL As SGPA
      ,NULL As CCreditRegis
      ,NULL As CCreditEarn
      ,NULL As CCreditCompute
      ,NULL As CProduct
      ,NULL As CGPA
		,NULL As StudentStatus
		,NULL As LeaveSts
        ,NULL As Semester
		,infinity.[dbo].fnc_grdGetTextTruncateSplit(cast(a.Credit as varchar)+' CREDITS TRANSFERRED FROM '+c.nameEnAbbrv,50) As YearQ
		--,REPLACE(STUFF((SELECT '|' + word AS [text()] 
  --      FROM MUGrading..[fnc_text_truncate](cast(a.Credit as varchar)+' CREDITS TRANSFERRED FROM '+c.nameEnAbbrv, 60) FOR XML PATH('')), 1, 1, ''),'&amp;','&') AS YearQ
		,NULL As Sem1
        ,@creditTranfer As creditTranfer
		,@txtEnglishScore As txtEnglishScore
		From MUGrading..TransferCredit a
        Left Join Infinity..acaUniversity c
        on a.uId = c.id
		Left Join Infinity..vwStudent d
		on a.StudentID = d.StudentID
        Where a.studentId =@studentCode

	UNION

	SELECT StudentID
      ,Semester As Sem
      ,CurrentYear
      ,ProgramCode
      ,MajorCode
      ,GroupNum
      ,SubjectCount
      ,SCreditRegis
      ,SCreditEarn
      ,SCreditCompute
      ,SProduct
      ,SGPA
      ,CCreditRegis
      ,CCreditEarn
      ,CCreditCompute
      ,CProduct
      ,CGPA
      ,StudentStatus
      ,LeaveSts 
	  ,RIGHT(Semester,1)+'/'+LEFT((YEAR(getdate())+543),2)+left(Semester,2)AS Semester
	  ,CAST(CASE WHEN RIGHT(Semester,1) = '3' THEN (convert(int,(LEFT((YEAR(getdate())+543),2)+left(Semester,2)-543))+1)
			ELSE (LEFT((YEAR(getdate())+543),2)+left(Semester,2)-543)  END as varchar)  As YearQ 
	  ,CASE
			WHEN RIGHT(Semester,1) = '1' THEN RIGHT(Semester,1)+'ST   SEMESTER'
			WHEN RIGHT(Semester,1) = '2' THEN RIGHT(Semester,1)+'ND   SEMESTER'
			WHEN RIGHT(Semester,1) = '3' THEN 'SUMMER   SESSION' END As Sem1
      ,@creditTranfer As creditTranfer
	  ,@txtEnglishScore As txtEnglishScore
	FROM MUGrading..GPAStatus
	WHERE StudentID=@studentCode
	)
	SELECT 
	 NULL [EducationTypeSystem]
	,RIGHT(Sem,1) [SemesterName]
	,2500 + CAST(LEFT(Sem,2) AS INT) [Year]
	,SCreditCompute [SemesterCreditValue]
	,SCreditEarn [SemesterCreditEarned]
	,SCreditRegis [SemesterCreditCalculated]
	,null [SemesterPointEarned]
	,SGPA [SemesterGPA]
	,CGPA [SemesterGPAX]
	,null [SemesterStatus]
	,null [Remark]
	,null [LineOne]
	--,* 
	FROM cte
END
