USE [MUGrading]
GO
/****** Object:  StoredProcedure [dbo].[sp_grdGetListSubjectTransfer]    Script Date: 19/01/2567 12:22:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<anussara.wan>
-- Create date: <2023-05-09>
-- Description:	<Description,,>
-- =============================================
-- MUGrading..sp_grdGetListSubjectTransfer '5901291'

ALTER PROCEDURE [dbo].[sp_grdGetListSubjectTransfer]
	@studentCode varchar(7)
AS
BEGIN

	 SELECT [SubjectCode] as [CourseNumber]
	  ,null as [TypeCode]
	  , isnull([SubjectName],[nameTh]) [CourseTitle]
	  , [nameTh] as [CourseTitleTh]
	  , [SubjectName] as [CourseTitleEn]
	  , [Credit] as [CourseCreditValue]
	  , [Credit] as [CourseCreditEarned]
	  , null as [CourseAcademicGrade]
	  , [Status] as [CourseAcademicGradeText]
	  , null as [CoursePointEarned]
	  , NULL [EducationTypeSystem]
	  , NULL [SemesterName]
	  , NULL [Year]
	  , [Status] [CourseTransferCode]
	  , ( select top 1 b.nameEn 
		  from MUGrading..TransferCredit a
		  left join [Infinity].[dbo].[acaUniversity] b
			 on a.[uId] = b.id
		   where StudentId = @studentCode
		) [OrganizationName]
	  , NULL [ProgramName]


  FROM [MUGrading].[dbo].[TransferGrade] a
  where StudentId = @studentCode

END
