USE [MUGrading]
GO
/****** Object:  StoredProcedure [dbo].[sp_grdGetGPAInfo]    Script Date: 19/01/2567 12:20:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<anussara.wan>
-- Create date: <2023-05-12>
-- Description:	<Description,,>
-- =============================================
--  MUGrading..sp_grdGetRegistrar '6070242'
--  MUGrading..sp_grdGetGPAInfo '6070242','601'

ALTER PROCEDURE [dbo].[sp_grdGetGPAInfo]
	@studentCode varchar(7),
	@quarter varchar(3)
AS
BEGIN
;with cte ([StudentID]
                              ,[Semester]
                              ,[CurrentYear]
                              ,[ProgramCode]
                              ,[MajorCode]
                              ,[GroupNum]
                              ,[SubjectCount]
                              ,[SCreditRegis]
                              ,[SCreditEarn]
                              ,[SCreditCompute]
                              ,[SProduct]
                              ,[SGPA]
                              ,[CCreditRegis]
                              ,[CCreditEarn]
                              ,[CCreditCompute]
                              ,[CProduct]
                              ,[CGPA]
                              ,[StudentStatus]
                              ,[Flag]
                              ,[GradeFlag]
                              ,[LeaveSts]
                              ,[ProbationCode]) AS (
	SELECT [StudentID]
                              ,[Semester]
                              ,[CurrentYear]
                              ,[ProgramCode]
                              ,[MajorCode]
                              ,[GroupNum]
                              ,[SubjectCount]
                              ,[SCreditRegis]
                              ,[SCreditEarn]
                              ,[SCreditCompute]
                              ,[SProduct]
                              ,[SGPA]
                              ,[CCreditRegis]
                              ,[CCreditEarn]
                              ,[CCreditCompute]
                              ,[CProduct]
                              ,[CGPA]
                              ,[StudentStatus]
                              ,[Flag]
                              ,[GradeFlag]
                              ,[LeaveSts]
                              ,[ProbationCode]
     FROM [MUGrading].[dbo].[GPAStatus]
     where  [StudentID]=@studentCode  and [Semester]=@quarter)
	 SELECT *
	 FROM cte
END
